[2019-12-06 23:15] dullbananas opened #1 "documentation"
we need documentation

[2019-12-08 00:11] dullbananas commented on #1
Also, how did you get this  any stars

[2019-12-08 01:09] Pebaz commented on #1
I agree! I am currently working on content for the wiki pages. In regards to the Stars, I posted on the Python and Nim Subreddits so people could see my project!

[2019-12-08 01:23] dullbananas commented on #1
check out my "dish" project

[2019-12-08 01:28] dullbananas commented on #1
This project makes me want to learn Nim

[2019-12-08 19:29] dullbananas commented on #1
I think i’m going to do a test to compare the speed of Cython and Nimporter.

[2019-12-08 19:41] Pebaz commented on #1
Nice project!
Do it! I'd be interested in seeing the results. They should be comparable since Nim compiles to C and Cython is a Python to C compiler. However, since Cython makes use of interpreter calls and Nim does not, the performance may be different.

[2019-12-08 23:01] dullbananas commented on #1
I use PythonAnywhere and I have been unable to install Nim on there because I don't have enough storage

[2019-12-11 00:32] dullbananas commented on #1
I have now been using Repl.it instead. It kinda worked good, but Repl.it has been super buggy and there is a file that is broken. https://repl.it/@shamshung/Performance-Comparison-of-Cython-and-Nimporter

[2019-12-12 19:25] Pebaz commented on #1
Repl.it never loads for me. It shows your project's folder structure, but the code never loads.
It may be easier to distribute your results if you create a GitHub repo with the code, run the tests locally and then post the results in the readme. Kind of like how I did [here](https://github.com/Pebaz/wrap).

[2019-12-12 22:23] dullbananas commented on #1
Maybe I can use GitHub Actions

On Thu, Dec 12, 2019 at 12:25 PM Pebaz <notifications@github.com> wrote:

[2019-12-13 00:35] Pebaz commented on #1
Does Nimporter not work on your local development machine?
If so, can you provide your machine details (OS, arch, Python version, etc.) so I can try to replicate?

[2019-12-13 00:50] dullbananas commented on #1
I use an iPad Pro, so I use PythonAnywhere for development. It runs Ubuntu and Python 3.8. I can't install Nim on it because there's not enough storage space, and I don't want to upgrade for more storage.

[2019-12-13 00:59] Pebaz commented on #1
I'm glad there is no issue with Nimporter! ;)
I definitely feel you though. Perhaps you could look into [AWS Workspaces](https://aws.amazon.com/workspaces/).
Also, I am marking this issue as closed since I am [actively adding documentation](https://github.com/Pebaz/nimporter/wiki).

[2019-12-13 00:59] #1 closed

[2019-12-13 02:53] dullbananas commented on #1
is this free?

[2019-12-13 03:05] Pebaz commented on #1
No, but it would cost around the same per month. An alternative would be to
use AWS EC2 to spin up a T2.micro or T2.nano instance and SSH into it. It
would give you all the same features of Pythonanywhere without the hubbub
and unlimited freedom!

On Thu, Dec 12, 2019, 9:53 PM Dull Bananas <notifications@github.com> wrote:

[2019-12-14 00:03] dullbananas commented on #1
I have successfully been able to run a performance test. Results are here: https://github.com/dullbananas/nimporter-vs-cython/commit/ea52215fa0bde8cee2134afb5eaa48b18f538860/checks?check_suite_id=357999486

Unfortunately, Cython ran about 5 times faster.

[2019-12-14 00:04] dullbananas commented on #1
do you have anything to say about this?

[2019-12-16 07:37] yglukhov opened #5 "Wrong link"
https://github.com/Pebaz/nimporter/blob/2cd3d2ef0aa848abbfbfdfb1c2818eeef5ceac9a/setup.py#L10

[2019-12-16 14:09] Pebaz commented on #5
Thanks! Fixed it [here](https://github.com/Pebaz/nimporter/commit/3e2dd45eb25e7e16781cc4a31f125b4e158bf8f4).

[2019-12-16 14:09] #5 closed

[2019-12-25 07:38] WesleyYue opened #7 "Issue running example"
I was trying to follow along with the tutorial but ran into the follow error

[code]

Seems to be related to https://stackoverflow.com/questions/39660934/error-when-using-importlib-util-to-check-for-library/39661116

[2019-12-25 07:53] WesleyYue commented on #7
There were two issues. First as noted above, and the second was that source_hash was implemented starting from python 3.7

[2019-12-26 15:16] Pebaz commented on #7
Thanks for the heads up on these issues and the pull request! ;)
I added a custom hash function so that more Python versions than just Python 3.7+ can be supported.

[2019-12-26 15:16] #7 closed

[2020-02-10 19:36] Pebaz opened #9 "Prevent warnings from crashing compilation"

[2020-02-10 19:37] #9 closed

[2020-04-13 07:15] AngelEzquerra opened #11 "Add nimporter commands to build binary and source distributions"
Even though it should not be very difficult to generate a binary or source distribution by following the nimoorter README, it would be nice if the nimporter command line tool included a command to do it for you. IMHO this would make the tool make the whole process fully “idiot proof”.

Basically it would look for a setup.py file and create it if it didn’t exist. It would check if the necessary cod

[2020-04-13 09:41] AngelEzquerra opened #12 "Basic example fails on windows with "ImportError: DLL load failed: %1 is not a valid Win32 application""
I just tried to follow the example on the readme file (creating a simple nim_math.nim file and a python nimporter_test.py file to use nim_math). I got the following error on my Windows computer:

Traceback (most recent call last):
  File "nimporter_test.py", line 2, in <module>
    import nimporter, nim_math
ImportError: DLL load failed: %1 is not a valid Win32 application.

I'm using python 3.7.1

[2020-04-13 13:30] Pebaz commented on #12
Can you please provide:
* Version of Windows
* Version of C compiler (MSVC vs MingW, etc.)
* Full stack trace
* Version of Nimporter (pip show nimporter)

I'm sorry this happened, I made sure to test on Windows 10 MSVC.

[2020-04-13 13:32] Pebaz commented on #11
This is a good idea.

I will look into it, thanks for your input! :)

[2020-04-14 08:36] AngelEzquerra commented on #12
I guess the problem might be that my python version is 32 bits while my windows and nim versions are 64 bit:

- Version of Windows (8/10 x86 or x64, etc.)
`Windows 10 Enterprise (x64), version 1709 4.00`

- Version of C compiler (MSVC vs MingW, etc.)
gcc version 6.3.0 (x86_64-win32-seh-rev1, Built by MinGW-W64 project)

- Full stack trace
Not sure what you need here

- Version of Nimporter (pip sh

[2020-04-18 23:18] Pebaz commented on #12
Thank you for providing all these details!
I would wager that the 32 vs 64 bit is definitely the issue.
I have updated Nimporter to be able to provide this information (if possible) when it cannot import something that it just compiled.
So error messages have been improved for exactly this situation.
If you are interested, you could pull `master` and then reimport to see the new error message and

[2020-04-18 23:28] Pebaz commented on #12
Oh, also, I just saw something else.
The compiler used to build Python must match the compiler used by Nim.
Right now, your Python is MSVC (the MSC in the Python version means MSVC, I have no idea why they didn't just use "MSVC") but your system C compiler is GCC.
To use Nim along with Python, you will need to have a C compiler that matches Python (both the architecture (x86 or x64) and the actual

[2020-04-19 17:35] #11 closed

[2020-04-29 02:16] cgarciae opened #15 "[Question] How to dockerize a nimporter application?"
When deploying I'd like the nimporter to:

- [ ] use the `*.so` files
- [ ] don't require the original `.nim` files if possible
- [ ] don't require `nim` to be present

Is this possible? I am having an difficulity understanding how to "freeze" nimporter for production.

[2020-05-08 20:04] AlexisGoodfellow opened #16 "Nimporter fails to import due to undefined symbol "__builtin_ssubll_overflow" when using GCC on CentOS 7.5"
So, I got this really ugly stack trace when trying to import the basic `nim_math.nim` example code into my python project. The relevant sections of the project tree look like:

[code]

And the relevant contents of `app.py` are:

[code]

Here's some more data about the environment that isn't available in the stack trace: I'm using a CentOS 7.5 base docker image with GCC version 4.8.5. I've also rep

[2020-05-08 21:29] cgarciae commented on #16
Hey Alexis, are you using Nimble? For this to work I think you need a `*.nimble` file under `/root`.

[2020-05-08 21:43] AlexisGoodfellow commented on #16
I was not packaging my nim code with `nimble`. I can try adding a `.nimble` file, but my understanding from the docs is that for one-off scripts like the `nim_math.nim` example it wouldn't be necessary.

But I guess it can't hurt - I'll give it a shot!

[2020-05-08 22:04] AlexisGoodfellow commented on #16
I can confirm that this still happens even when there is a `*.nimble` file matching the project name (both directly under `root`, and also under `nim`).

So much for that :(

[2020-05-08 22:13] AlexisGoodfellow commented on #16
Given the information I have in front of me, it would appear that there's something going awry at the _compiler_ layer. Pretty unlikely it's a problem with GCC, so maybe there's an issue with the transpilation from Nim to C?

[2020-05-09 00:01] cgarciae commented on #16
@AlexisGoodfellow can you share your Nimble file?

[2020-05-10 19:39] Pebaz commented on #15
Hello, great question!

It's definitely possible! The solution outlined below checks all your boxes:

- [x] Use the `*.so` files
- [x] Don't require the original `.nim` files
- [x] Don't require Nim to be installed

For this use case, you must use Nim code (via Nimporter) like any other Python dependency.

Basically, Nimporter was created with a strong focus on making *libraries* that use Nim, not

[2020-05-10 19:40] Pebaz commented on #12
I will go ahead and mark this as closed as I am assuming that you were able to get it to work.

[2020-05-10 19:40] #12 closed

[2020-05-10 19:43] Pebaz commented on #16
Nimporter author checking in here.

I will look over the information present in this issue and give my recommendation soon.

Thank you so much for filing a bug report! 🌴

[2020-05-10 20:16] Pebaz commented on #16
I was able to copy your folder structure and run successfully on:

* CentOS 8.1.1911 (Core)
* GCC 8.3.1
* Python 3.6.8
* Nimporter 1.0.1
* Nim 1.2.0
* Everything was 64 bit

However, although Nimporter was designed to be used flexibly, it seems as if your source code and Nim extensions are separated (`nim` and `src`).

The original intention is to place your Nim code alongside the Python code.

If

[2020-05-11 04:04] AlexisGoodfellow commented on #15
This may be very much related to the post of mine that I made not to long ago. The way I understood the design philosophy of `nimporter` was essentially "Use Nim for performance only where necessary, otherwise use Python for its broad ecosystem". Given that, I interpreted the suggested workflow to be "Write it in Python, profile it, then rewrite it in Nim only when you have to". That's how I expec

[2020-05-11 04:42] cgarciae commented on #15
@Pebaz Separating the nim code into its own library just for this is not very ergonomic, I understand why this is the current supported use-case but since you don't need to create a package for your own deployment it feels like an overkill.

I think it would be extremely nice if `nimporter` had a `NIMPORTER_ENV` flag where if set to `prod` it would create the python modules using `*.so` in

[2020-05-11 15:53] Pebaz commented on #15
@cgarciae @AlexisGoodfellow

Thank you very much for these great questions!

I believe I have not understood the root issue here. Nimporter definitely supports both apps and libs.

The way it does this is through the use of a `setup.py` for both. The `setup.py` is the distribution mechanism provided by Python that works for both apps and libs seamlessly.

I chose to use this in favor of a custom s

[2020-05-11 16:41] cgarciae commented on #15
@Pebaz thanks for taking interest!

The "normal" deployment strategy for python code is:

1. Copy the code inside the container
2. Install dependencies in the docker container from the `requirements.txt` file.
3. Run the main program with the `python` command or in the case of web application using `gnunicorn` or `uvicorn`.

Sice you normally don't package + install your own project option 1 is le

[2020-05-11 17:07] AlexisGoodfellow commented on #15
With respect to point 2, I _think_ you could just run `nim c` to compile the Nim source to .so files, which you could then move around however you wanted (assuming that point 1 is possible and `nimporter` can find the shared object files at the new location).

[2020-05-11 17:11] AlexisGoodfellow commented on #15
Also, with respect to the question posed by @Pebaz - our deployment strategy is exactly the same, with the additional wrinkle that the deployed docker containers are managed by kubernetes. That shouldn't be a relevant factor here, though.

[2020-05-11 17:25] AlexisGoodfellow commented on #16
I'm still looking into this! This has taken a while to suss out because our docker image build process is _much_ more complex than I anticipated.

My current guess is that the core problem is that _python itself_ was compiled with gcc 4.8.5, because this still happens when I use `scl` to update the version of `gcc` in the docker container to version `9.1.1`.

I've had to put this to the side for a

[2020-05-11 20:47] Pebaz commented on #15
@cgarciae @AlexisGoodfellow

I have taken the time to review the information you guys have sent me and have come up with a solution that could work but I wanted to hear your thoughts on it.

Nimporter was not designed to be used without packaging the application using `setup.py`.

However, with a bit more effort, I believe that Nimporter could be used within Docker easily.

@cgarciae I believe you

[2020-05-11 21:42] cgarciae commented on #15
@Pebaz I think this works! Tthe changes overall all minimal and if well documented using `__pycache__` for production has the advantage that its the same code and structure for production and development.

Documentation around the `nimporter compile` command should mention the strategy detailed here for folks wanting to deploy their applications.

[2020-05-12 17:47] AlexisGoodfellow commented on #15
I also think this will work. @Pebaz If you'd like some extra hands, I'm available on Friday to potentially work on a PR to do this!

[2020-05-12 18:30] Pebaz commented on #15
@cgarciae

Ok great! If this will work for everyone I'll go ahead and make an issue for it and close this one.

@AlexisGoodfellow That would be fantastic, I really appreciate it! As far as I remember, most of the functionality you need is in these functions:

* `Nimporter._find_extensions()`
* `NimCompiler.compile_nim_code()` <- Pass `library=True` if the `module_path.is_dir()`

It would probably

[2020-05-12 18:30] #15 closed

[2020-05-12 18:30] Pebaz opened #17 "Add `nimporter compile` CLI command"
Add a CLI command that will simplify the distribution of applications using Nimporter by lifting the requirement of using a `setup.py` for packaging.

### Todo

- [ ] `nimporter compile` CLI command
- [ ] Run `nimporter_cli.clean()` before building all modules/libraries
- [ ] Add documentation to README explaining use case behind the new command
- [ ] Add a hello-world example to `examples/` for u

[2020-05-22 19:20] #16 closed

[2020-05-22 19:20] #17 closed

[2020-05-22 19:20] Pebaz opened #19 "Multithreading Issue"

[2020-05-24 10:32] Benjamin-Lee opened #20 "Is it possible to create CLIs in Nim and distribute using Nimporter?"
When compiling a CLI created in Nim using docopt, I get the following error:

[code]

This appears to be because functions like [`paramCount`](https://nim-lang.org/docs/os.html#paramCount) don't work in dynamic libraries. So, is there way to have pure Nim CLIs distributed in Python? Or do I need to rewrite the CLI in Python?

[2020-05-24 14:41] Pebaz commented on #20
Definitely!

I am not familiar with using Docopt with Nim but this is definitely possible if you use a small (1 file) Python wrapper around the Nim code.

Basically, you have to pass the CLI arguments from Python `sys.argv` to a Nim function that runs your CLI handler code.

Example:

[code]

Inside your Nim file, you would just have a function that can accept CLI arguments and run with them:

[co

[2020-05-26 11:03] Benjamin-Lee commented on #20
Thanks for the suggestion, that's exactly what I needed. For reference for anyone else having the issue, I solved the problem using the Python docopt package and just passed the parsed args in. All of my argument validation *etc* which I had done in Nim worked just as before.

[2020-05-26 11:03] #20 closed

[2020-05-26 11:51] Benjamin-Lee opened #21 "Running nimporter clean followed by setup.py adds duplicate lines to MANIFEST.in"
I should ask first, is running `nimporter clean` followed by `pip install -e .` the correct way to recompile the project on changes? I haven't had success otherwise but am probably doing something wrong.

Each time I rerun `nimporter clean` followed by `pip install -e .`, I get duplicate entries in MANIFEST.in. Is this intentional?

[2020-05-26 13:12] Pebaz opened #22 "MANIFEST.in not deleted from root directory"
When run with `nimporter clean` this does not remove the `MANIFEST.in` in the root dir which results in duplicate lines being appended each time a bundle is created.

[2020-05-26 13:12] #22 closed

[2020-05-26 13:17] Pebaz commented on #21
Hello @Benjamin-Lee thank you for reaching out!

The workflow for rebuilding the project each time has been improved. You can now make use of `nimporter compile` to rebuild every extension module/library in your project.

Also, you spotted a bug with the `MANIFEST.in` not being deleted on `nimporter clean`. Thanks for submitting an issue! This bug was fixed in 64eccc7

In summary, the workflow to

[2020-05-27 09:48] Benjamin-Lee commented on #21
Thanks for the information and the fix!

I've got the latest Nimporter (1.0.1) but there doesn't seem to be a "compile" command:

[code]

Creating a fresh virtual environment and installing from scratch does not solve the issue. Do you have any suggestions?

[2020-05-27 09:53] Benjamin-Lee commented on #21
Interestingly, installing the latest development version of Nimporter via `pip install git+https://github.com/Pebaz/nimporter` did result in a working `nimporter compile` command. Looking at the [PyPI entry](https://pypi.org/project/nimporter/#files), it seems that the Nimporter 1.0.1 wheel was uploaded on 4/20/2020, not yesterday like the GitHub release says. Might this be the cause?

[2020-05-27 12:10] Benjamin-Lee opened #23 "How to bypass compiling tests?"
For background, since I've filed a few issues, I'm working on a library to analyze DNA and using this library to study the coronavirus genome. The pure Python version was quite slow, so I rewrote it in Nim and have achieved great (1000x+) speedups. I followed your advice in #20 and am just about ready to publish the [`librtd`](https://github.com/Lab41/librtd) library and CLI.

Currently, I'm [gett

[2020-05-27 16:31] Pebaz commented on #21
I apologize for this, I had forgotten to update the 1.0.1 PyPi release after making a small change.

The most recent version is ready for download that contains the `compile` command.

Thank you for bringing this to my attention and have a great rest of your week!

[2020-05-27 16:31] #21 closed

[2020-05-27 16:40] Pebaz commented on #23
Great project! I gave it a star ⭐️

This is an interesting one.

The `PyInit_tests` refers to a Python extension being loaded only to find that the init module function is not defined.

When using Nimpy, this is automatically handled for you when you `import nimpy` and have at least one function decorated with `{.exportpy.}`.

However, in your code, I do not see Nimpy being imported at all.

Can y

[2020-05-28 09:22] Benjamin-Lee commented on #23
Sorry for the confusion and thanks for the help (and the star)! I was working on a branch to develop the Python interop, which I have since merged into master. If you take a look now, you should see a directory structure like this (some files omitted):

[code]

In `librtd.nimble`, I do list `nimpy > 0.1.0` as a dependency. This would probably explain why it's working on my laptop as well as on Ubu

[2020-05-28 15:05] Pebaz commented on #23
Thank you for taking the time to explain!

With this new information, my recommendation is as follows:

Since your goal is to have both a Nim-compatible and a Python-compatible library, you must place these in separate repositories.

The Nim library should behave exactly the same with no modifications whatsoever.

The Python library should have a folder (that acts as a single module to the eyes of

[2020-05-29 04:35] Benjamin-Lee commented on #23
Do I understand you correctly that there is no way to keep all of the code in a single repository? Or is it possible to have the code in a single repository, just in different directories? Assuming that you meant different directories within the same git repo, I tried using your directory structure:

[code]

In doing so, I got an error when running `nimporter compile` from the `librtd-py` director

[2020-05-29 12:10] Pebaz commented on #23
Awesome! Glad it was able to work at least a little bit!

So I was able to determine exactly why this wasn't working.

Your `cli_wrapper.py` file imports the `librtd.py` file on line 21.

When run normally, this works fine.

However, when you ran the CLI in the main directory, there is a folder named: `librtd` that contains the Nim (not Nimporter) library.

When the CLI is run, `librtd` is request

[2020-05-30 08:42] Benjamin-Lee commented on #23
For reference, changing the name of the Python file to `__init__.py` is yielding other errors since now Python can't find the module to import when using the Python API. Simply not running in the root folder, while annoying, seems like the best workaround.

[2020-05-30 08:42] #23 closed

[2020-05-30 09:37] Benjamin-Lee opened #24 "Why use --gc:markAndSweep as default?"
Is there a reason to use this over `refc` for Nimporter? Nimpy suggested compiler invocation makes no mention of it:

[code]

Additionally, microbenchmarking suggests is it is slower than `refc` (`nimr` is just an alias for `nim c -r --hints:off --verbosity:0`):

[code]

[2020-05-30 10:45] Benjamin-Lee opened #25 "Suggestion: make it easier to turn on dangerous mode (or support nims)"
Right now, Nimporter offers great low level control over the compiler via `switches.py`. However, as a developer, I don't want to be worrying about maintaining my own copy of `switches.py` for changing simple settings.

Suppose, after #24, you decide that using the default GC is better. Now, in order to get that update, I can't just update Nimporter; I have to modify my copy-pasted-with-one-added-

[2020-05-30 15:39] juancarlospaco commented on #25
I was about to ask whats the idea of `switches.py` ?,
`module.nim.cfg` seems to be working at least on my local.
:thinking:

[2020-05-30 15:44] juancarlospaco opened #26 "setup.cfg instead of setup.py"
Use `setup.cfg` instead of `setup.py` on the documentation and the `setup.py` generator.

- https://gist.github.com/juancarlospaco/b91d7736281e2090fce84ed399c68972

`.cfg` can be easy to generate/parse from Nim using `parsecfg` module, builtin on Python.
:slightly_smiling_face:

[2020-06-04 13:33] phdye opened #27 "setup_test fails with No such file or directory: 'command line'"
Python 3.8.2
[code]

[2020-06-04 13:35] phdye commented on #27
setup_tests must be clean, without build or nim-extensions sub-directories, for the error to occur.  Executing "python setup.py build" a second time works.  Thanks

[2020-06-04 13:50] phdye opened #28 "pragmas ignored, not in nimporter.build_nim_extensions()"
The extension objects in nimporter.build_nim_extensions() do not contain the values specified by:
[code]
Of note, the pragma values do carry through to nim-extensions/nim-extensions/src.<name>/<name>.json.  No effect on the execution of setup.py though.

To workaround, one may add the necessary values after calling nimporter.build_nim_extensions():
[code]

[2020-06-04 16:21] #27 closed

[2020-06-04 16:22] Pebaz commented on #28
I'm sorry can you explain a little bit more about this issue?

As far as I am aware, no extra C-compiler and C-linker arguments are needed.

[2020-06-04 16:23] Pebaz commented on #26
Hello @juancarlospaco !

Can you explain a bit more about the advantages to this approach?

I'd be willing to consider switching to the `setup.cfg` if I knew more about how it could benefit the project.

[2020-06-04 16:29] Pebaz commented on #25
Hello @Benjamin-Lee !

I am a little confused as to the benefits of this approach.

If this line of code worked:

[code]

Then even if you updated Nimporter, the settings you provide on the above line would override the ones obtained from updating Nimporter, which (from what I can tell) is the same difference?

Right now, the decision to use `switches.py` was largely due to having the ability to e

[2020-06-04 16:31] Pebaz commented on #24
Hello @Benjamin-Lee !

I have not reviewed the default compiler flags in a while. I'm sure that they need to be updated.

Thanks for looking into this I will determine if I can change the flags to help performance as you have shown.

[2020-06-04 17:50] juancarlospaco commented on #26
It suppose to be the best practice for Python.
It is a format common to both languages.
It is a config format instead of code.

[2020-06-04 18:09] juancarlospaco commented on #25
I never used `switches.py`, the `*.nim.cfg` seems to work.

[I used it on my package](https://github.com/juancarlospaco/faster-than-requests), it builds ok, ships the files ok,
[but when installing](https://pypi.org/project/faster-than-requests), it does not copy the nim files on the disk, I checked it,
even if it suppose to, silently skips them, [users reported the problem](https://github.com/jua

[2020-06-05 01:30] phdye opened #29 "When srcDir = "src", package name should not be prefixed by "src.""
When the .nimble specifies a srcDir, the package name should not include the directory name.

[2020-06-05 01:33] phdye commented on #28
I have a package which utilizes an external C file.  Within a .nim file, one may specify pragmas to add other files to compile (.compile), merely link (.link), other compile (.passC), or linking (.passL) arguments.

I can upload a few tiny projects to github with examples if that would help.

[2020-06-05 08:22] phdye opened #31 "exclude_dirs, cryptic error when exclude_dirs specified as a set"
While exclude_dirs supplied to build_nim_extensions() clearly should be a list, it would seem excusable for a user to specify it as a set in the light that _find_extensions() does:
[code]
Unfortunately, one then gets the following cryptic error:
Traceback (most recent call last):
  File "setup.py", line 9, in <module>
    modules = nimporter.build_nim_extensions(exclude_dirs={})
  File "/home/phdy

[2020-06-05 09:37] Benjamin-Lee commented on #25
Sorry for the confusion, allow me to clarify. Yes, the keyword args would override the defaults. However, for whatever keyword args are not specified by the user, updates in future versions of Nimporter could be reflected. Going back to the #24 example, suppose that the current default is

[code]

Then, in my library, I can do this since I only care about turning off checks:

[code]

Now, if you w

[2020-06-14 19:14] Pebaz commented on #26
I have taken the time to look into this and although I (personally) will begin to use `setup.cfg` in future projects, I wish to leave `setup.py` as it is for now.

Thanks for introducing `setup.cfg` to me though I have not used it until today! 🙂

[2020-06-14 19:14] #26 closed

[2020-06-14 19:23] #24 closed

[2020-06-14 19:37] Pebaz commented on #25
Hello @juancarlospaco !

I have taken a look at your (awesome!) library, but I was unable to find any use of Nimporter within it. As far as I am able to tell, you have a custom build setup in `setup.py` that uses different folders containing C code that get compiled per-platform. I may have completely missed it though 😅

Nimporter could really help with this distribution scenario. To use Nimporter

[2020-06-14 19:39] Pebaz commented on #25
Hello @Benjamin-Lee !

Thank you for clarifying this! As this would require a semi-involved change to Nimporter, I will need more time to look into how I want to go about this.

[2020-06-14 19:53] Pebaz commented on #28
Hello @phdye !

Thank you for clarifying this!

I am unsure of whether or not this can be supported by Nimporter.

I have a question: can `.passC` be supported in a `*.nim.cfg` file instead?

If not, the only other option is to support these pragmas within the `switches.py` file since the whole point of `nimporter.build_nim_extensions()` is to allow Python users a simple way to use Nim code in the

[2020-06-14 19:57] Pebaz commented on #29
Unfortunately, this is expected behavior for Nimporter.

What is happening is that the auto-discovery mechanism of Nimporter finds that the `src` dir contains a Nim file and does not contain a Nimble file which means it will treat it as an extension Module rather than an extension Library.

Extension modules are single Nim files.
Extension libraries are folders that contain both a Nim file + Nimbl

[2020-06-14 20:02] phdye commented on #29
I realize that is how Nimporter is documented to work.  However, should not nimporter construct package names and locate source files in the same manner that nimble does ?

https://nim-lang.org/docs/nimscript.html#srcDir

Sent from Mail for Windows 10

From: Pebaz
Sent: Sunday, June 14, 2020 3:57 PM
To: Pebaz/nimporter
Cc: phdye; Author
Subject: Re: [Pebaz/nimporter] When srcDir = "src", package n

[2020-06-14 20:32] juancarlospaco commented on #25
You can download from PYPI from here and try to install it locally on your PC:
https://pypi.org/project/faster-than-requests/0.9.9/#files
This is the code:
https://github.com/juancarlospaco/faster-than-requests/tree/467f7c261d410ca642d6d398bd2a8f8c20981ab5

[2020-06-14 21:18] Pebaz commented on #25
Ah yes, thank you @juancarlospaco I see it now.

I have inspected your code and I see no Python file that imports Nimporter and then imports your Nim file `faster_than_requests.nim`.

Alternatively, you may also specify `ext_modules=nimporter.build_nim_extensions()` in your `setup.py` or the equivalent command in `setup.cfg` to have Nimporter find and bundle your `faster_than_requests.nim` file.

[2020-06-14 21:25] Pebaz commented on #29
Not exactly. Nimporter was designed for simplicity first.

Nimble is a fully-capable build tool that can understand the entirety of the Nim programming language, run NimScripts, and understand config files.

Nimporter literally just finds Nim files or folders containing a Nim file and a Nimble file of the same name as the containing folder.

Furthermore, Nimporter was not designed to house a compl

[2020-06-14 21:25] #29 closed

[2020-06-14 21:28] juancarlospaco commented on #25
But I wanted source distributions, not binary.

I dont find the correct structure on the documentation,
maybe a function that generates a project template like `nimble init` but for Nimporter.
:thinking:

[2020-07-19 04:05] Benjamin-Lee commented on #25
@Pebaz sorry to bump this back up, but we're working in the release of `librtd` so I'd like to make it so that it runs with `-d:danger`. Short of a flag (or similar) within Nimporter, would you be willing to add instructions on how to activate it? Switches.py seems to be somewhat under documented.

[2020-07-19 15:42] Pebaz commented on #25
Hello @Benjamin-Lee !

I'm sorry for the delay, I have been onboarding to a new job for the past month and a half and have been pretty focused on that.

However, I have implemented the requested change to add a `danger=True` flag to the `build_nim_extensions` function.

Can you pull the most recent code from the master branch via:

[code]

And then test this new flag?

[code]

I have run this on t

[2020-07-20 02:28] Benjamin-Lee commented on #25
Just tested it and got the speedup I was expecting (about 20%)!

[code]

[2020-07-20 02:31] Benjamin-Lee commented on #25
PS: Not sure what the arg1k warning is but it doesn't seem to break anything so 🤷‍♂️

[2020-07-23 14:22] Pebaz commented on #25
Hello @Benjamin-Lee that is fantastic, glad to hear it!
I will push out a new release shortly to PyPi that you can use.
Definitely let me know of any issues if anything comes up!

[2020-07-23 15:39] Pebaz commented on #25
Hello @juancarlospaco !

I'm sorry for the delayed reply regarding your question of source/binary distributions.

Nimporter does not support source distributions.

It does, however, support source distributions that include [Nim source files along with Python files](https://github.com/Pebaz/nimporter#source-distributions). This means that it is not possible to create a source distribution containi

[2020-07-23 15:39] #25 closed

[2020-08-03 02:16] Benjamin-Lee opened #32 "Tag v1.0.2 on GitHub"
Thanks for the release on PyPI! Can you also tag the release on GitHub?

[2020-08-03 14:16] Pebaz commented on #32
Ah yes, thanks for pinging me about this!

[2020-08-03 14:18] #32 closed

[2020-08-03 22:05] Benjamin-Lee opened #33 "Install works as editable but not regular"
I'm in a different directory as my main library in a different virtualenv. It works when I do a `pip install -e` install but not a regular (no `-e` flag) install:

[code]

Any idea why that would be?

[2020-08-04 14:19] Pebaz commented on #33
Ah yes, I am unsure of the absolute root cause for this but one thing I do know is that Nimporter libs cannot be installed from source. You have to compile a Wheel first using `python setup.py bdist_wheel` and then upload that to PyPi/etc. From what I can see in the terminal session, you are trying to install it from source (meaning compiling Nim source to C, which would then compile to a Python e

[2020-09-02 20:57] Pebaz commented on #33
Closing due to inactivity. Let me know if I can be of further help!

[2020-09-02 20:57] #33 closed

[2020-10-28 19:15] richboss opened #37 "Don't assume vcc availability on Windows"
**OS**: Windows 10 Version 2004 (Build 19041.572)
**Python**: Python 3.8.4 (tags/v3.8.4:dfa645a, Jul 13 2020, 16:46:45) [MSC v.1924 64 bit (AMD64)]
**Nim**: 1.4.0
**C Compiler**: gcc version 8.1.0 (i686-posix-dwarf-rev0, Built by MinGW-W64 project)

On Windows, nimporter doesn't work if the Visual Studio C Compiler is not installed. See the following stacktrace:

[code]

Alas, this stacktrace is n

[2020-10-28 19:52] Pebaz commented on #37
Thank you for the bug report!

I will look into this soon and see if enumerating installed compilers is even possible on Windows. Any thoughts on how to do this would be appreciated!

[2020-11-10 04:27] Benjamin-Lee opened #38 "Release GH Action works on Mac but not Linux/Windows"
I'm a bit stumped as to what's going wrong since Windows and Linux give different errors. On Mac, it seems to be working.

[Here](https://github.com/IQTLabs/librtd/blob/99afada038718b080bb9185a449a586f17dc5d2f/.github/workflows/release.yml)'s the GH action. The parts that I modified are the installation steps in which I first install my package and then the dependencies for the CLI package.

The e

[2020-11-10 18:39] Pebaz commented on #38
@Benjamin-Lee thanks for reaching out!

Couple things:
* Don't use `python3` on any platform: use `python` command instead since the Python setup action sets up the right aliases and links automatically
* The index error I believe is related to the line of code that contains `"pebaz"` in the `python -c` call. This is my username which is probably why it's not working for you. Try changing it to yo

[2020-11-12 00:46] Benjamin-Lee commented on #38
Thanks for the advice @Pebaz. Your Windows suggestion worked perfectly but Linux was a tough nut to crack. I ended up spending the day working on packaging and found a way to compile _true_ manylinux wheels for all modern Python version. To do so, I had to run the build in a Docker container provided by PyPA:

[code]

Similarly, I added Python 3.5-3.9 builds for Windows and Mac. The full build scr

[2020-11-12 00:48] Pebaz commented on #38
Fantastic! Glad to hear it 👏
Thank you for sharing this!

[2020-12-28 02:06] Pebaz commented on #38
Closing due to issue being resolved! 😁

[2020-12-28 02:06] #38 closed

[2021-02-09 14:44] juancarlospaco opened #39 "Problems implementing nimporter"
- I am trying to migrate https://github.com/juancarlospaco/faster-than-requests
- The project is older than Nimporter and I didnt have the time before. I need to build for Windows, Mac, Linux.
- I have made a PR were I deleted everything and only left the basic files, the `.py` and `.nim` files.

I have several errors but I dont know whats the problem, they all just exit on the GitHub Actions CI w

[2021-02-09 15:01] Pebaz commented on #39
Hello @juancarlospaco ! I will take a look and see what I can find out.

[2021-02-09 19:30] Pebaz commented on #39
@juancarlospaco Is there any way you can move back to the [example GitHub Actions workflow](https://github.com/Pebaz/nimporter/blob/master/examples/github_actions_template.yml)?

I was also tempted to try to combine all 3 platforms into a single workflow but ran into issues. I determined it would be easier to see the differences if they were kept apart (Windows, MacOS, Linux).

The index error is

[2021-02-09 19:35] juancarlospaco commented on #39
Yes and no, because I know these lines are not doing anything, but I want it to upload to PyPI when it works Ok.

Ok :+1:

[2021-02-09 19:37] Pebaz commented on #39
Cool! Let me know if I can help further! :)

If you happen to get it up and running let me know and I'll get this issue closed out.

[2021-02-09 19:53] juancarlospaco commented on #39
[code]

Now with the template workflow:

- https://github.com/juancarlospaco/faster-than-requests/pull/133/checks?check_run_id=1865976103#step:7:1436

...and there it goes

[2021-02-09 20:19] Pebaz commented on #39
I think I found something: https://github.com/juancarlospaco/faster-than-requests/runs/1865976125?check_suite_focus=true#step:4:7

It looks like the allenevans/set-env@v2.0.0 workflow is not working as expected. As far as I can tell, I think you can just use the "env" command like [here](https://github.com/Pebaz/nimporter/blob/f1aadff8ed2428a3311a83fbec3d4839008b90d9/examples/github_actions_templa

[2021-02-09 21:09] juancarlospaco commented on #39
Hit a bug on the setup nim action https://github.com/jiro4989/setup-nim-action/issues/40#issue-804924621

[2021-02-09 21:15] Pebaz commented on #39
Ah interesting! Keep me posted and let me know if I can help!

[2021-02-10 01:12] juancarlospaco commented on #39
Theres a way to ship the `.nim` files and make nimporter compile them on import instead of wheels ?.

It can depend on https://pypi.org/project/choosenim-install to automatically install Nim on the PC.

[2021-02-10 02:07] Pebaz commented on #39
Yes this is definitely possible but goes against the intended purpose of Nimporter. The goal was to be 100% transparent that Nim is involved from the side of the end user.

Did the fix specified by [jiro4989](https://github.com/jiro4989/setup-nim-action/issues/40#issuecomment-776324539) solve the issue?

[2021-02-10 02:10] juancarlospaco commented on #39
Still the same error https://github.com/juancarlospaco/faster-than-requests/commit/ab50c5b6bf2e9c06933e546ec9ee9d3fc56d32a4

[2021-02-10 02:15] Pebaz commented on #39
It looks like my username is inside the workflow lol: https://github.com/juancarlospaco/faster-than-requests/runs/1866497757?check_suite_focus=true#step:6:3

Also, can you edit one of the builds to `ls dist` and `ls .` to see what's in there? The command that is failing for Linux is that it cannot find the generated wheel.

[2021-02-10 02:15] juancarlospaco commented on #39
If you PIP install https://github.com/juancarlospaco/choosenim_install#use
It will install Nim automatically, so it will be just like pip install cython

Thats why I am interested in a way to just ship the `.nim` files.

[2021-02-10 02:17] Pebaz commented on #39
I understand. This is a viable option if the installation of Nim is acceptable. Here is the old way of using Nimporter which should fit your use case:

[code]

[2021-02-10 02:19] Pebaz commented on #39
Oh one other thing is that if you use that method, the first time you run the software it will have to take the time to compile the Nim source. That was another reason I didn't opt for it but again this might not be a problem in many cases.

[2021-02-14 13:55] juancarlospaco opened #40 "Document shipping just .nim files"
I am interested in trying all ways of shipping that nimporter can do, one of the options is not documented along with the others,
thats the option of just shipping the `.nim` files, I made a PIP package that install Nim and other that can install Nimpy,
so would be nice to document on the readme how users can package the `.nim` files.
For new users it might not be so obvious.

You can make your pa

[2021-02-14 17:15] Pebaz commented on #40
Hello @juancarlospaco !

I am interested in using `choosenim_install` as a dependency, but I wanted to ask: what does it do if Nim is already installed on the target machine?

Also, I forgot that this was in the readme, but [here](https://github.com/Pebaz/nimporter/#source-distributions) are the instructions for bundling just the Nim files. Using [this](https://github.com/Pebaz/nimporter/#source-d

[2021-02-14 18:25] juancarlospaco commented on #40
You have admin on the repo of choosenim_install, change what you want, etc.

If it is installed it will install it again, because what if user broke the installation and want to install it again ?.

[2021-02-14 18:32] Pebaz commented on #40
Perfect. I think this is good to use then for source distributions. I made a couple changes to allow older Python versions to install `choosenim_install`. Can you reupload to Pypi when you get a chance?

[2021-02-14 18:32] #40 closed

[2021-02-14 18:33] juancarlospaco commented on #40
It does whatever choosenim does on a given condition,
so any improvement should go into choosenim directly instead of workaround specific behaviors.

[2021-02-14 18:36] Pebaz commented on #40
I'm sorry I don't understand. Could you explain further?

[2021-02-14 18:39] Pebaz commented on #40
Oh you mean Nim's official `choosenim` installer, not `choosenim_install`. Sorry I get it now.

[2021-02-14 18:41] Pebaz commented on #40
I updated the readme to include [choosenim_install](https://github.com/Pebaz/nimporter#source-distributions).

I don't want to make it a dependency of Nimporter itself because Nim users with custom installations might not like that.

[2021-02-14 19:58] #37 closed

[2021-02-16 13:51] Pebaz commented on #39
@juancarlospaco Were you able to use the source or binary distribution methods successfully?

[2021-02-18 05:32] juancarlospaco commented on #39
Nope.
While trying to just ship the `.nim` files I done:

[code]

Running `python setup.py sdist`.

Opening the ZIP, it has no `.nim` files inside,
even if explicitly passing `"*.nim"` on `setup.py` and/or `setup.cfg`

Even if you force the file `faster_than_requests.nim` inside the ZIP manually,
it does not copy the `.nim` file when installing the ZIP.

Therefore [the instructions for source dist

[2021-02-21 06:23] juancarlospaco commented on #39
Any ideas?, something to try?. :neutral_face:

[2021-02-21 13:49] Pebaz commented on #39
I will look into this today and see what I can find out.

[2021-02-21 17:23] Pebaz commented on #39
This is an interesting problem. I was able to successfully bundle Nim files into a source distribution by simply removing the `include_package_data=True` line from `setup.py`. No idea why that would work but try it out and let me know if it works for you and I'll update the source distribution instructions in the readme:

[code]

[2021-02-21 17:50] juancarlospaco commented on #39
I will try it!;  But it copies the `.nim` files when you install that package ?.

[2021-02-21 17:52] Pebaz commented on #39
Yes the test package I created had all the Nim files it needed. I was able to successfully import and use it! :)

[2021-02-21 18:08] Pebaz commented on #39
One more thing: if you're using "nim.cfg" files, the `*.nim` line should be changed to read:

[code]

[2021-02-23 22:15] juancarlospaco commented on #39
Do you have that example somewhere?, if you can upload it to the examples on the repo or link it or something.

I can make the package with the `*.nim` using the `setup.py`,
but when I install, it installs everything except the `*.nim`,
I searched the folders recursively and the `*.nim` are not there.

[2021-02-24 07:20] juancarlospaco commented on #39
I went with just `choosenim_install` and `nimporter` for now. Thanks. :slightly_smiling_face:

[2021-02-24 07:20] #39 closed

[2021-02-24 14:50] Pebaz commented on #39
@juancarlospaco I did a proof of concept refactor on your branch [here](https://github.com/pebaz/faster-than-requests/tree/nimporter)

It is currently not operational as I don't have your insight into it's internals.

However, it illustrates how projects using Nimporter should be structured (using a Python package rather than a src folder).

It's like 90% working, let me know if this helps or if I

[2021-02-24 17:42] juancarlospaco opened #41 "Warning ProveInit"
When using Nimporter it complains:

[code]

- https://github.com/yglukhov/nimpy/issues/163

Maybe Nimporter can pass the argument `--warning[ProveInit]:off` ?.

Python users probably do not know what it means anyway. :shrug:

[2021-02-24 19:01] juancarlospaco commented on #39
- https://pypi.org/project/faster-than-requests/21.03.03/#files

Thanks for all the help, it is working now. :smiley: :+1:

[2021-02-24 20:54] juancarlospaco opened #42 "IndexError: list index out of range"
This line explodes very frequently, without useful debug information:

[code]

Full traceback

[code]

- https://github.com/Pebaz/nimporter/blob/master/nimporter.py#L49

It is possible to add some defensive programing just on that line ?,
something like a `try  except` and `print` a useful message,
manually checking like
`if not len(nim_module) > 0: print("ERROR: File not found, Nimporter can not

[2021-02-24 21:59] juancarlospaco commented on #42
I found the problem in the end, it is the `.cfg` that makes that line fail randomly, sometimes it works, sometimes it fails,
if I comment the line of `--gc:` it always work, but the error messages are not very helpful,
for some reason using  `--gc:` with the  `.nim` makes it flaky on import.

[2021-02-24 21:59] #42 closed

[2021-02-25 17:42] Pebaz commented on #39
Fantastic, glad this worked out!

[2021-02-25 17:46] Pebaz commented on #42
This is good information!
The 0 index error you're getting was also fixed here very recently :)
https://github.com/Pebaz/nimporter/blob/6fc127b86055bc93f3b52d79da78c2994e765359/nimporter.py#L47

[2021-02-25 17:54] #41 closed

[2021-03-01 13:30] mhechthz opened #43 "nimporter ignores nim.cfg"
Hi,

I'm totally new to Nim and nimporter and tried to build a little test application. I changed Nim to use clang, which is compatible with CPython on Windows 10. Nim file:
[code]
Python file:
[code]
Running the nim-file using Nim works perfectly. Compiling to library (nimpy only) and importing to Python also works perfectly.

Running the Python program "hangs" the execution and while trying to s

[2021-03-01 14:09] Pebaz commented on #43
@mhechthz can you post the nim.cfg?

[2021-03-01 15:33] mhechthz commented on #43
It's the default nim.cfg, with the only change
[code]
How can I be sure, that this config file from Nim installation directory is really used? I set the PATH to NimInstallDir\bin.

[2021-03-03 17:19] Pebaz commented on #43
Hello @mhechthz I was able to get both of the code snippets to work on my Windows 10 machine using MSVC.

Nimporter can't change Nim's behavior for supporting `nim.cfg` files so if the `nim.cfg` is in the proper directory as specified by the docs it will work with Nimporter.

However, you mentioned that "Visual Studio" (the graphical application) starts up when you run the Python example above?

[2021-03-03 17:22] Pebaz commented on #43
Also, Nimporter will tell Nim to use MSVC only if Python was compiled with MSVC. You can tell if Python is compiled with MSVC by running this in a Python shell:

[code]

The "MSC" in the square brackets is for MSVC. If "MSC" is not in `sys.version`, Nimporter does not suggest a compiler, which means that the `cc = clang` should be honored by Nim itself (since Nimporter will not have asked Nim to u

[2021-03-03 17:24] Pebaz commented on #43
If you need to explicitly control 100% of all flags Nimporter passes to Nim, you can use a [switches.py](https://github.com/Pebaz/nimporter#compiler-switches-using-switchespy) script.

[2021-03-03 17:25] Pebaz commented on #28
If special flags need to be passed to Nim during Nimporter's execution, you can use a [switches.py](https://github.com/Pebaz/nimporter#compiler-switches-using-switchespy) script.

If you need additional assistance don't hesitate to reopen! :)

[2021-03-03 17:25] #28 closed

[2021-03-09 02:39] bitnom opened #44 "This"
is the best thing I've ever seen. You win the Nimternet

<img src="https://comicvine1.cbsistatic.com/uploads/square_medium/12/128795/3680456-nimrod.jpg">

[2021-03-09 18:14] Pebaz commented on #44
Thank you very much lol 😆

[2021-03-20 19:54] lhupfeldt opened #45 "Does not work with methods"
[code]
`
ttt.nim(13, 1) Error: Expected one of {nnkProcDef, nnkIteratorDef, nnkFuncDef}, got nnkMethodDef
`

[2021-03-20 20:34] lhupfeldt opened #46 "package_dir setting in setup is not respected"
I have

[code]
in my `setup.py`

But nim compiled (.so) files are installed under `.../site-packages/src` instead of `.../site-packages/mypackagename`

[2021-03-20 22:10] Pebaz commented on #46
I think this has to do with the suggested project structure mentioned in the readme. Although I'll have to test `package_dir` myself to be sure, I believe Nimporter imposes an output structure so it works without any fiddling. Let me know if the suggested project structure works for you. Namely, having a "src" dir is not recommended and may not work with all Nimporter features.

[2021-03-20 22:13] Pebaz commented on #45
This has to do with [Nimpy](https://github.com/yglukhov/nimpy) rather than Nimporter directly. Please consult with Nimpy's documentation. Let me know if you can get this working because I'm curious myself if methods will work. My guess is that Nimpy does not support them but I could be wrong.

[2021-03-20 22:25] lhupfeldt commented on #46
I find that having a "src" dir works better than having a "mypackage" dir. E.g. it makes sure that pytest actually run from the installed package, not accidentally finding files directly in the source "mypackage" dir. "src" also fits with the nim structure. This is an exixting python project, I hope I will not have to restructure it to introduce nim.

[2021-03-20 23:51] lhupfeldt commented on #45
Correct, seems Nimpy does not handle types and methods. So I probably can't use it. Too bad.

[2021-03-21 00:04] Pebaz commented on #46
Ah yes I understand, I don't know why Pytest can't just look for a top-level package and assume that to be the source directory.

If you send me a GitHub URL I'd be willing to take a look and make a recommendation.

[2021-03-21 12:51] lhupfeldt commented on #46
Pytest works with both structures. I just think that having a `src` dir different from the package name and using a test driver like `nox`, so that tests are run against the installed package instead of the sources, gives the least amount of weird surprises.
This is the project I'm working on: [file_groups](https://github.com/lhupfeldt/file_groups.git). It uses setup.py, but should probably be con

[2021-03-23 20:28] Pebaz commented on #46
After looking at your project (super cool by the way), I definitely recommend not going with a `src` based project structure. The reason why is because Nimporter was built around using a main Python package name rather than a directory that just happens to contain Python code.

Here are a couple solutions I have been using at work to get around Pytest not fixing `PYTHONPATH` to let tests import th

[2021-03-23 20:28] #46 closed

[2021-03-23 21:06] lhupfeldt commented on #46
Thank you for taking time to elaborate.

I find that having pytest *not* find files in src is one of the benefits of that structure. I have stopped messing with sys.path in my test setup, I now always invoke pytest through `nox` so that it runs against the installed package. It just seems to give the fewest problems.

My goal was to turn the entire package into nim while at the same time exporting

[2021-05-12 13:54] Pebaz commented on #45
Closing this for now as it seems a determination has been made.

[2021-05-12 13:54] #45 closed

[2021-05-12 22:20] SekouDiaoNlp opened #49 "Can you create a Discussion section for the project for easier collaboration."
Hi @Pebaz ,

I received your invitation to the repository, but I think it would be easier to communicate through the discussion pages.

@SekouDiaoNlp

[2021-05-12 22:39] SekouDiaoNlp commented on #49
For my part I forked the repo and I am studying the code while having a look at the issues.

Cheers

@SekouDiaoNlp

[2021-05-12 23:36] Pebaz commented on #49
Awesome! I will create the discussion page on GitHub soon!

[2021-05-13 09:49] #49 closed

[2021-05-19 20:52] Pebaz commented on #43
Closing for now

[2021-05-19 20:52] #43 closed

[2021-06-23 07:26] p-i- opened #51 "'-d:lto' flag breaks macOS"
[code]

I have to comment out the above line to achieve build on macOS.

It's here: https://github.com/Pebaz/nimporter/blob/master/nimporter.py#L130

The root seems to be https://github.com/nim-lang/Nim/pull/15614

This issue is blocking https://github.com/juancarlospaco/faster-than-requests/issues/156

Maybe needs something like:
[code]

But there's a bigger issue: These inbuilt flags can't be re

[2021-06-23 13:52] Pebaz commented on #51
Full control over the command line switches can be done with a [switches.py](https://github.com/Pebaz/nimporter#compiler-switches-using-switchespy) file.

However, the CLI args handling in Nimporter has always not been very ergonomic when trying to fiddle around with the Nim compiler.

I purposely designed this library to not require the user to enter a single customization option because it needs

[2021-06-29 07:08] ConnectedSystems opened #52 "Clarification request concerning `choosenim_install`"
The readme has this example to auto-install the Nim compiler for source distributions, which is nice for providing code to those who don't have Nim installed.

[code]

However, I cannot seem to get this to work (in a fresh environment without the Nim compiler).

A `pip install -e .` or `python setup.py develop` and `nimporter build [package name]` results in:

`FileNotFoundError: [Errno 2] No such

[2021-07-14 15:59] juancarlospaco commented on #52
@ConnectedSystems

Bugs for choosenim_install should go to choosenim_install repo.

choosenim_install must be installed BEFORE everything else.

How you do that is up to you, but is a precondition,
you can use `setup_requires = ["choosenim_install"]` or similar,
theres several `*_requires` that you can use for ordering dependencies,
we did not invent that, thats just how Python is.

[2021-07-14 22:57] ConnectedSystems commented on #52
Okay sure, but does this mean the example needs to be tweaked? It implies doing as written will work

[2021-07-14 23:14] juancarlospaco commented on #52
No idea, maybe works, but better to use the different `*_requires` "steps".

[2021-07-31 20:11] knassar702 opened #53 "[Bug] dynamic module does not define module export function"
hello , im trying to run simple nim code inside python script with nimporter but i always got an error about importing error from GCC

* nscript.nim

[code]

* test.py

[code]

<details>
  <summary> <samp>&#9776; Error</samp></summary>

[code]

</details>

### Env
* OS : Arch Linux (64)
* Nim Compiler : 1.4.8
* Python : 3.9.6

[2021-07-31 20:21] Pebaz commented on #53
You gotta use the exportpy:

[code]

Lookup the docs for [Nimpy](https://github.com/yglukhov/nimpy) as Nimporter just makes Nimpy modules easier to import.

[2021-07-31 20:46] knassar702 commented on #53
thanks for your answer , its work :D

[2021-07-31 20:46] #53 closed

[2021-08-16 08:17] xyb commented on #45
@Pebaz nimpy already supports types and methods, so  we can follow up now. See https://github.com/yglukhov/nimpy/pull/210

[2021-10-30 16:29] SekouDiaoNlp commented on #51
@Pebaz , sorry I didn't respond earlier.

I was sic with CoViD and I started being active again about a month ago.

Do you still need help with this issue?

I will update my fork and review what changes could be made.

Cheers

SekouDiaoNlp.

[2021-10-31 01:27] Pebaz commented on #51
@SekouDiaoNlp sorry to hear that, glad your doing better!
Yes that would be awesome to have a better solution to the flag override problem. It's possible that the switches.py functionality can be taken out entirely. In fact, that would be the first place I would look.

[2021-10-31 07:29] SekouDiaoNlp commented on #51
@Pebaz ok, I will look into it during the next couple of days to come up with the most effective design.
I think removing switches.py and consolidating all the config options in a single file + better handling of command line flags is the way to go.

[2021-10-31 09:01] SekouDiaoNlp commented on #52
HI @ConnectedSystems , @juancarlospaco .

It is preferable to list "choosenim_install" in setup_requires rather than install_requires because when installing from source, pip first builds a binary wheel and **then** installs the package from the generated wheel.

All necessary dependencies to build the package must be listed in setup_requires.
Otherwise, if you specify "choosenim_install" in insta

[2021-10-31 15:58] SekouDiaoNlp commented on #51
See discussion page : https://github.com/Pebaz/nimporter/discussions/54

[2021-11-05 19:31] #51 closed

[2021-11-05 19:31] #52 closed

[2021-12-29 05:25] macintacos opened #58 "What's the expected "workflow"?"
Hello! New to Nim, not-so-new to Python, but trying to figure out how to use this tool to get the best of both.

I setup the following repo to mess around with some stuff based on what I'm reading in the README: https://github.com/macintacos/nimport-playground

The project is pretty "rough", I would say. I'm not really understanding what the expected "workflow" is supposed to be. Right now I:

- C

[2021-12-29 05:25] macintacos commented on #58
Oh also, I can't seem to figure out how to get docstrings from Nim files carried over so that my editor can recognize them.

[2022-01-04 00:11] Pebaz commented on #58
Hi @macintacos! Thanks for checking out Nimporter!

The basic workflow is as follows:

1. Install Nim "somehow" (this will greatly depend on your needs). I recommend installing it by manually downloading and maintaining a Choosenim installation. This is similar to the `rustup` workflow from the Rust community.
2. Once you are able to invoke `nim` from the command line and it works, you'll be able

[2022-01-30 05:18] retsyo commented on #37
this is not to be fixed to fit every case. in case somebody use mingw, you can change line 133-146 in nimporter.py
from
[code]

to
[code]

[2022-01-30 07:12] retsyo opened #59 "use python with mingw on windows"
The [closed issues](https://github.com/Pebaz/nimporter/issues/37) made [a change](<https://github.com/Pebaz/nimporter/commit/adbd2404473ef12968faa5e51f8f54424e69103c>) as
[code]
which looks reasonable, but should it be( sorry I have not use MSVC for a long time, cl.exe is valid for VC 6.0)
[code]

however in current code, this change is lost again:
[code]
which is definitely wrong because sys.vers

[2022-01-30 16:49] Pebaz commented on #58
Closing this for now but definitely reopen if you run into any other issues! :)

[2022-01-30 16:49] #58 closed

[2022-01-30 17:00] Pebaz commented on #59
The `vccexe` program comes with Nim for Windows and it goes through all the trouble of finding an MSVC installation for you. I did some digging and it looks like that is the same strategy that other languages have taken in the past (like Jai). It looks like the alternative is to require the user to run Python programs using Nimporter from the "Developer Command Prompt" which is not very user frien

[2022-01-31 04:21] retsyo commented on #59
Thanks for reply. It seems feasible to mention something in README like
[code]

[2022-01-31 04:21] #59 closed

[2022-01-31 21:35] Pebaz opened #60 "Cleanup Sheer Amount of Options To Set Nim Compile Switches"
**One of the main things that needs to happen is to have hopefully 1 place to set Nim compile args. This should probably be in the form of directly setting `nimporter.NimCompiler.NIM_CLI_ARGS` but any better ideas are definitely appreciated.**

Here are the ways that compile options can be configured:

* Directly setting `nimporter.NimCompiler.NIM_CLI_ARGS`
* Using `*.nim.cfg`
* Using `*.nims`
* U

[2022-02-02 08:46] SekouDiaoNlp commented on #60
Hi @Pebaz how are you?

I definitely agree that we should simplify how the compilation tags are handled.

If you have some vague idea about how to better it, I will be more than welcome to implement it.

Oh and happy new year 🎈🎈🎈

[2022-02-02 08:47] SekouDiaoNlp commented on #60
Removing switches.py should be fairly quick

[2022-02-02 08:49] SekouDiaoNlp commented on #31
Bump!
@phdye is it still an issue you care about?

[2022-02-02 12:33] SekouDiaoNlp commented on #60
I don't think users should directly edit this file.

I think it should be the default behaviour.

Removing it from the next release just involves removing the warnings.

I think the better option would be to pass `--danger true` or something to that effect at the command line invocation.

[2022-02-02 12:37] SekouDiaoNlp commented on #60
I can spend some time this weekend on that.

[2022-02-02 17:19] Pebaz commented on #60
Hi @SekouDiaoNlp! Happy New Year to you as well! I'm doing great! Just enjoying the new year as things start to pick back up after the holidays. You?

I agree. I mentioned that as an option as it came up in this issue (#59) and it seemed to help them out I think.

I have given the cleanup some thought and I don't think we can cleanup the switches without restricting what users can do. Personally,

[2022-02-02 18:26] SekouDiaoNlp commented on #60
Definitely a great idea

[2022-02-02 18:28] SekouDiaoNlp commented on #60
I think you have thought about it a lot.

I will see what I can whip out during the weekend.

Let me know if you have more suggestions.

[2022-02-02 23:12] SekouDiaoNlp commented on #60
This is definitely a great idea and might greatly simplify the workflow!

[2022-02-12 03:39] nonimportant opened #62 "dynamic module does not define module export function (PyInit_commands)"
I'm trying to make a simple program using Python and Nim where the Python file calls a procedure that opens YouTube from the Nim file. And I get this error when importing the Nim file:

**commands.nim**:
[code]

**main.py**:
[code]

And I get this error when importing the Nim file:

Error Message:

    dynamic module does not define module export function (PyInit_commands)

Python Version:

    3.

[2022-02-12 06:56] Pebaz commented on #62
Hello @nonimportant, thanks for submitting this!

If you add the the `{. exportpy .}` to the function signature, it will be properly exported during the Nim compilation step:

[code]

Nimporter builds upon [Nimpy](https://github.com/yglukhov/nimpy) to expose Nim to the Python interpreter. There's a lot of useful unit tests that show the full capabilities of Nimpy!

I'll close this for now but plea

[2022-02-12 06:56] #62 closed

[2022-02-22 09:44] ThibaudMZN opened #63 "Cannot compile even if GCC is found"
Hi,
I'm trying to use nimporter in Windows10 and I'm getting the following error:

[code]

[2022-02-22 19:11] Pebaz commented on #63
Can you post the main `.nim` module?

The main thing I'm looking for is that `{.exportpy.}` is used.

Also, it looks like Nimporter wasn't able to find a C compiler installed. Make sure there aren't competing C compilers installed on your PATH.

One last thing, I *highly recommend not using GCC* with an MSVC version of Python. Although this pairing may work on paper, in practice there will be *man

[2022-02-22 21:23] #63 closed

[2022-03-01 13:01] SekouDiaoNlp commented on #60
Hi @Pebaz  how are you,

I have been playing lately with multiple implementations of removing switches and  think  for Python users it is the right decision.

Also always generated a `$extensionDir/nim.cfg` systematically will make the process straightforward

[2022-03-01 17:57] Pebaz commented on #60
Hi @SekouDiaoNlp, I'm doing great!

I agree, I also have been experimenting on another branch and am working towards what I believe to be Nimporter 2.0.0, but as of yet I haven't gotten it to work correctly. It will most likely take me a while yet to get it up and running as my availability is really in flux right now but if it works, it will be lots of breaking changes to users (hence 2.0.0 versi

[2022-03-01 21:12] SekouDiaoNlp commented on #60
That sounds like a good plan!

I will remove switches.py and streamline the specification of flags while keeping the structure mostly the same.

[2022-03-02 01:26] Pebaz commented on #60
Fantastic, I'll keep this thread updated as well!

[2022-03-02 05:09] SekouDiaoNlp commented on #60
Great, I should have free ré Thursday evening and the whole weekend starting Wednesday.

I will handle removing switches.py and streamline the rest.

Enjoy your day.

[2022-03-09 23:08] Benjamin-Lee commented on #19
For reference, I have this solved using

[code]

Python code:

[code]

Output:

[code]

Proof it works:

<img width="852" alt="image" src="https://user-images.githubusercontent.com/13618205/157554351-7d94aa5f-dd66-4aac-9b75-8efd4ed71820.png">

[2022-03-22 00:41] Pebaz commented on #60
@SekouDiaoNlp Just an update on my progress with the Nimporter 2.0.0 experiment. I have verified it to work! Now all I need to do is finish testing and polish it off! I'm hoping to have a release candidate for you to test soon (as to what "soon" means in this context I have no idea 😆).

How are things going with removing the switches? From what I found out about the Nimporter 2.0.0 design, a lot o

[2022-05-09 20:35] Pebaz commented on #60
@SekouDiaoNlp Have you had a chance to take a look at the [Release Candidate](https://github.com/Pebaz/nimporter/releases/tag/v2.0.0rc) for Nimporter 2.0.0?

[2022-05-15 14:23] willros opened #68 "building wheel with build_nim_extensions()"
Hi,

I am trying to build a binary wheel from the examples in the example folder. The setup.py file looks as follows:

[code]
But when I run `python setup.py bdist_wheel`, I get the following error message:

AttributeError: module 'nimporter' has no attribute 'build_nim_extensions'. Did you mean: 'get_nim_extensions'?

I am on a macOS BigSur, version=11.6.5, and have everything that I need install

[2022-05-15 15:42] Pebaz commented on #68
Is it possible that you happened to be using the [release candidate version of Nimporter 2.0.0](https://github.com/Pebaz/nimporter/releases)? It's a major version increment and has a ton of breaking changes but greatly improves pretty much everything.

I've been looking for people to test out the in-development 2.0.0 version. If you've got some time, you can read the instructions on how to use it

[2022-05-15 15:46] Pebaz commented on #68
@willros I yanked the 2.0.0 release candidate from Pypi so it won't affect anyone else for now. If you happen to have time to test out 2.0.0 let me know! 😁

[2022-05-16 07:45] willros commented on #68
Thank you @Pebaz for a quick and informative answer!

Yes, I was using the 2.0.0 version of Nimporter.

I will for sure test the new version! Where do you want me to share my thoughts of it?

Thanks,
William

[2022-05-16 11:26] willros commented on #68
This is what I have so far:

After trying different structures which did not generate modules working when importing them to python, I tried this structure:

[code]
with `setup.py`:

[code]
then:

[code]

Doing all above works for me. I had to try different folder structures and include different files.

*Also some potential fixes I have noticed:*

In the setup.py example, there is one comma missi

[2022-05-17 10:26] willros commented on #68
Another question I have about the v.2:¨

In v1. it is possible to add `ext_modules=nimporter.build_nim_extensions(danger=True)` to the `setup.py` file. This options seems to not be available with the `nimporter.get_nim_extensions` function. I tried to add `nim c -d:danger myproject.nim` flag in the `.nim.cfg.` file, but doing so, `python setup.py sdist` fails.

How can I realease the switch in v.2

[2022-05-17 15:10] Pebaz commented on #68
Hi @willros ! Sorry for the late response, i haven't had a chance to look into this yet. As for the flags, v2 only allows flags inside the *.nim.cfg file for Extension Libraries. Extension Modules we're redesigned to be easily importable for Python folks and Extension Libraries are supposed to be configurable and are allowed to have dependencies.

I'll try to look deeper into this today. Try to ch

[2022-05-19 06:42] Pebaz commented on #68
@willros I was able to find a reference to the required (as of v2) folder structure for Extension Libraries [here](https://github.com/Pebaz/nimporter/tree/e1aaddf263d992fc534b620103b00a807b574fd8#-extension-modules--extension-libraries) (also `nimporter init lib` can be used or the [Cookiecutter template](https://github.com/Pebaz/template-nimporter-ext-lib) can be used directly). Basically, in ord

[2022-05-19 06:42] #68 closed

[2022-06-18 08:58] AngelEzquerra opened #69 "Basic example does not work on Windows"
I tried running the readme example code on Windows and it fails as soon as you import an external nim modele. I do not get any error messages, python just seems to quietly die. It does work on macos.

The example, copied verbatim from the readme.md is as follows:

nim_math.nim:
[code]

nimporter_test.py:
[code]

In order to check that the nim code worked, I added a "when is_main_module" clause:

[

[2022-06-19 16:30] Pebaz commented on #69
Could you elaborate more? It looks like the code you provided should work just fine, although I would not recommend the `when` statement in the Nim code because it's an extension module, not a Nim program. Nimporter helps you create libraries that use Nim code so generally you can't do things that Python wouldn't understand (like running code in an artifact that's supposed to be a native Python ex

[2022-06-26 00:18] Nqndi opened #70 "nimporter.NimporterException: Error importing faster_than_requests.pyd"
`std/db_sqlite(184, 1) Warning: Circular dependency detected. 'codeReordering' pragma may not be able to reorder some nodes properly [User]
ws.nim(329, 32) Warning: conversion to enum with holes is unsafe: Opcode(b0 and 0x0000000F) [HoleEnumConv]
nimpy.nim(557, 32) Warning: Cannot prove that 'arg0timeout' is initialized. This will become a compile time error in the future. [ProveInit]
faster_than_

[2022-06-26 00:43] Pebaz commented on #69
Closing this for now but feel free to reopen if you need more assistance 🙂

[2022-06-26 00:45] Pebaz commented on #70
Thank you for opening a bug report. Can you post a code example to reproduce this?

[2022-06-26 10:40] Nqndi commented on #70
I installed faster_than_requests on python 3.9, and when I try to import it using import faster_than_requests, I get this error.

[2022-06-26 19:58] AngelEzquerra commented on #69
Hi @Pebaz. Sorry I had missed your reply. As you said the code is very simple so I would expect it to work, but it just crashes on Windows. The only reason I added the `when is_main_module` code is to check that the code works properly when I compile with nim. If I remove it it still fails.
I am not sure what additional info I can provide you to help debug this issue.

[2022-06-26 20:25] Pebaz commented on #69
Hi @AngelEzquerra, no problem at all, I appreciate you clarifying.

We've seen many of these issues come through and generally it's due to a few things which should be straightforward to fix and get you back up and running:

* Python Arch and CC version not matching Nim artifact arch and CC version
* Using MinGW Python but Nim using MSVC
* Mixing 32 and 64 but

It is likely that the culprit is one

[2022-06-28 14:00] AngelEzquerra commented on #69
This is my system info:
- Nim Compiler Version 1.6.6 [Windows: amd64]
- Using the MinGW gcc compiler: gcc.exe (MinGW-W64 x86_64-posix-seh, built by Brecht Sanders) 11.1.0
- Python 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)] on win32

Does that mean that my system python is using a different compilar than I am using for nim?

[2022-06-28 16:11] Pebaz commented on #69
@AngelEzquerra Awesome, thank you for providing the info. Yes I believe this should be what the issue is. Although mixing compilers could work in theory, in my experience all it ever does is break random stuff. If possible, try installing Visual Studio build tools (I'm pretty sure you don't need to install a full Visual Studio installation in order to get the compiler). It is fine that Nim itself

[2022-06-28 18:17] Nqndi commented on #70
It compiles just fine, and I can import it inside test.py

[2022-06-28 20:21] juancarlospaco commented on #70
Awesome!, I think is something missing from Nim and Python ecosystems,
Rust-Python has its lib to do this, but not Nim-Python, this is a great tool.

I am interested, I have no time right now and I have to learn the new API from docs,
I can accept pull requests if someone is interested tho...
🙂:+1:

[2022-06-28 23:12] Pebaz opened #71 "Quality Of Life - Better error message for when Nim/Nimble is not installed or can't be found"
Add better error messages for the 2.0.0rc branch.

[code]

[2022-06-28 23:29] Pebaz opened #72 "Bugfix - Add `--threads:on` to ALWAYS_ARGS"
https://github.com/Pebaz/nimporter/blob/7c7aac98edadd3fa27283114536f61b49f5ab4eb/nimporter/lib.py#L49

This is regarding 2.0.0rc.

[2022-06-29 16:29] AngelEzquerra commented on #69
OK, I'll give it a try. I'll get back to you if it does not work. Thanks!

[2022-06-30 20:36] Nqndi commented on #70
Do you guys have any idea how to fix this?

[2022-07-04 08:47] AngelEzquerra commented on #69
OK, so I've tried to build my simple example using vcc. I does not work but maybe I am doing something wrong. For reference this is the content of the 2 files I am using:

1. nim_math.nim:
[code]
2. nimporter_test.py:
[code]

This is what I did:

1. Added the line `switch("cc", "vcc")` to my config.nims file, which now contains:
[code]

4. Manually compiled nim_math.nim doing `nim c nim_math.nim`.

[2022-07-04 16:11] Pebaz commented on #69
Thank you for the info, I've got a few ideas on this but I'll need some time to get back to you.

At this point I think it's definitely the handling of the switches along with the `.nimble` file. Nimporter v1 had a lot of inconsistency in regards to the handling of switches but v2 hasn't been merged yet since it's still in the testing phase. I'll look in the code to see the optimal way to handle s

[2022-07-15 22:09] timotheecour4 opened #73 "how to keep so files inside __pycache__?"
This repo manages to keep all artifacts under __pycache__; how would I place the `.so` file under `__pycache__` when using nimpy without nimporter?
eg, I'd like to run `nim c --app:lib --out:__pycache__/mymodule.so --threads:on mymodule` instead of `nim c --app:lib --out:mymodule.so --threads:on mymodule` in https://github.com/yglukhov/nimpy, but as is, placing the so inside the __pychache__ doesn

[2022-07-16 02:23] juancarlospaco opened #74 "Documentation error"
On this image, on the right code block, at the top,
it says `calculatorlib.nim` but has Python code inside, I think it should be `calculatorlib.py` ?.

![](https://raw.githubusercontent.com/Pebaz/nimporter/nimporter-v2.0.0rc/misc/Nimporter-Functionality.png)

[2022-07-16 16:48] Pebaz commented on #74
Oh good catch, thanks I will update it!

[2022-07-17 21:52] juancarlospaco commented on #74
@Pebaz
Hey the new `2.0.0` is working see here:

- https://github.com/juancarlospaco/thatlib/runs/7380391933?check_suite_focus=true
- https://github.com/juancarlospaco/thatlib/blob/nim/.github/workflows/build.yml#L68-L86

Any news of when is the merge?, right now I have to `git clone` to use it, because PIP installs the old one that is not really working.

🙂:+1:

[2022-07-20 04:54] Pebaz commented on #73
Hi @timotheecour4! I think what you are looking for is `--nimcache:__pycache__`, but you might have to make sure the `__pycache__` directory is created prior to invoking the Nim compiler. I haven't had an opportunity to test but that's what Nimporter is using so I think that should work for you. 🙂 I'd be happy to help with any further questions, closing for now.

[2022-07-20 04:54] #73 closed

[2022-07-20 05:05] Pebaz commented on #74
@juancarlospaco Thank you very much for testing this new branch out!

I've come across one wrinkle when trying to use Nimporter v2 with `faster-than-requests`. The now-formalized method of distributing extension modules & libraries doesn't work with external dependencies such as DLLs (at least not that I can think of without just rote copying each file).

If you've got any ideas on how to do this

[2022-10-17 20:13] Iapetus-11 commented on #19
Any update on this?

[2022-10-17 21:06] Pebaz commented on #19
Hi @Iapetus-11, from what I understand, this doesn't affect Linux users and there's a workaround on MacOS listed above, but Windows still suffers from this I believe. Since most people will run Flask from Linux VMs or containers, hopefully this is not too big of an issue.

[2022-10-17 23:22] Iapetus-11 commented on #19
- The workaround is not a workaround, multiprocessing is very different than threading in Python. Multiprocessing spins up new Python interpreters whereas threading does not and code execution in threads is limited by the GIL.
   - Also, using multiprocessing with nimporter does actually appear to work on windows, probably because it's seperate Py interpreters. Test code and output here: https://g

[2022-10-18 18:37] Pebaz commented on #19
True that, yeah `multiprocessing` works since it's presumably using IPC with different processes so they each load their own version of the Nim extension dynamic library. I'm sure this has to do with executable memory pages on Windows but I'm not sure if it's something that needs to be set when Python is compiled or a Python CLI flag or even a Nim compile flag. I need to get with the Nimpy guy aga

[2022-10-18 18:42] Pebaz commented on #19
@Iapetus-11, if you're interested, I've got an in-progress complete rewrite of Nimporter that I've needed someone to help test: https://github.com/Pebaz/nimporter/releases/tag/v2.0.0rc

The reason I haven't merged it so far is because it diverges from the current implementation of Nimporter v1 significantly but in return, it solidifies on the original idea of Nimporter which was to make Python + N

[2022-10-18 19:34] Iapetus-11 commented on #19
That'd be awesome

I'm not familiar with RayLib but I do have a project which uses nimpy's raw py buffers api and several other projects that use pure nim (and nimporter) I could test with later today.

[2022-11-17 20:39] davidcsisk opened #75 "nimporter can't find file on Windows 10"
Here is a working example to reproduce the problem:

C:\Users\dave.sisk\math_speedup_example>type pmath.py
def fib(n):
    if n == 0:
        return 0
    elif n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

C:\Users\dave.sisk\math_speedup_example>type nmath.nim
import nimpy

proc fib(n: int): int {.exportpy.} =
    if n == 0:
        return 0
    elif n < 3:
        return 1
    retur

[2022-11-17 20:41] davidcsisk commented on #75
This works beautifully on Linux, but returns the "system cannot find the file specified" error on Windows 10. I've tried it on 2 different Windows 10 laptops, so I don't think it's anything specific to the laptop setup.

[2022-11-18 23:21] Pebaz commented on #75
Hi @davidcsisk , can you confirm what C compilers you have installed a long with arch info?
Also, please provide Nim version (and arch), Nimble version, Choosenim version, and Python version (and arch)

[2022-11-29 22:17] Pebaz commented on #75
Hi @davidcsisk , I think this error occurs when the compilers do not match.

Can you confirm if you are using any of these:

1. Python x64 MSVC + MSVC x64
2. Python x32 MSVC + MSVC x32
3. Python x64 MingW + MingW x64
4. Python x32 MingW + MingW x32

My guess in this case is that Python was compiled for MSVC but Nim tries to use MingW (incompatible compilers). You can make sure by doing: `python --